# Project Description
the idea behind this project is to create some plotting components that handle plotting of different types and styles: 

- line plots
- bar plots
- scatter plots
- histogram plots
- etc

# Stack
We will be creating react components that handle the plotting, using:
- shadcn + tailwind for the styling. 
- plotly.js for the plotting. 
- plots will be created on the server side using plotly
- plot styles are going to be stored in yaml files, example: layout_line.yaml
- The server will create the plots and send the json data to the server containing the plot data for plotly to render on the client side.

# Project Structure
- client: contains the react components and the plotly.js library
- server: contains the plotly python library and the yaml files for the plot styles + fastapi server with endpoints to create the plots

# Rules
- all new components should be added to the client/src/components folder and be named using kebab case like plot-line.tsx
- all new yaml files should be added to the server/src/styles folder and be named using snake case like layout_line.yaml or layout_scatter.yaml
- all plot generation logic should be added to the server/src/app/plots folder, named using snake case like plotter_line.py or plotter_scatter.py